<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058170646731-vlmjpn25r9k9t170llfk4b2o77jnmbv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058170646731-vlmjpn25r9k9t170llfk4b2o77jnmbv1</string>
	<key>API_KEY</key>
	<string>AIzaSyCD1qBr87zD3CnHMyUFqcBPbs0xMgDqQWk</string>
	<key>GCM_SENDER_ID</key>
	<string>1058170646731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.gasanov.movie-sessions-app</string>
	<key>PROJECT_ID</key>
	<string>movie-sessions-app</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-sessions-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058170646731:ios:0da07f72410b2d2c546b4e</string>
	<key>DATABASE_URL</key>
	<string>https://movie-sessions-app.firebaseio.com</string>
</dict>
</plist>